* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.pitch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pitch {
  position: relative;
  width: 600px;
  height: 400px;
  background-color: #4caf50;
  border-radius: 10px;
  border: 2px solid #2c6b2f;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
}

.position {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.goalkeeper {
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.defenders {
  top: 30%;
  left: 5%;
}

.midfielders {
  top: 50%;
  left: 5%;
}

.forwards {
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.player-card {
  background-color: #fff;
  border: 1px solid #333;
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  width: 70px;
  text-align: center;
  font-weight: bold;
}

.substitutes {
  margin-top: 20px;
  text-align: center;
}

.substitute-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.substitute-card {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  width: 10px;
  text-align: center;
}
